<h1>Return Customers Report!</h1>

<button (click)="exportCSV()">Export</button>
<button (click)="goBack()">Back</button>

<div *ngIf="(reportSelected !== '')">
  <p>{{returnResults.length}} orders of {{reportSelected}}</p>
</div>

<label>
    From
    <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
</label>
<label>
    To
    <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
</label>
<button (click)="getDateOrders(dt1.selected, dt2.selected)">Search</button>


<div *ngIf="(isDateRange)">
  <label for="Category-select">Choose a Category:</label>
  <select id="Category-select" (change)="goReport($event)">
      <option value="" disabled>--Please choose an option--</option>
      <option value="">All-Return</option>
      <option value="return-sample">Samples-Return</option>
      <option value="return-sixPack">6-Packs-Return</option>
      <option value="return-twelvePack">12-Packs-Return</option>
      <option value="return-twentyFourPack">24-Packs-Return</option>
  </select>

  <div *ngIf="haveData" style="text-align:center;">
    <table class="table">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Order Date</th>
            <th>Email</th>
            <th>Item Purchased</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Time Lapsed since first purchase</th>
            <th>Time Lapsed since last purchase</th>
            <th>Sample/Product/Sub?</th>
            <th>LTV</th>
            <th>Purchase Type after Sample</th>
            <th>Prod-Sub</th>
            <th>Time Lapsed from prod to sub</th>
        </tr>
        <tr *ngFor="let return of returnResults">
            <td>{{return.last_name}}</td>
            <td>{{return.first_name}}</td>
            <td>{{return.created_at.split(".000Z")[0]}}</td>
            <td>{{return.email}}</td>
            <td>{{return.variant_title}}</td>
            <td>{{return.product_title}}</td>
            <td>{{return.quantity}}</td>
            <td>${{return.price}}</td>
            <td>{{return.time_lapsed_fp}}</td>
            <td>{{return.time_lapsed_lp}}</td>
            <td>{{return.item_type}}</td>
            <td>${{return.ltv}}</td>
            <td>{{return.purchase_after_sample}}</td>
            <td>{{return.prod_sub}}</td>
            <td>{{return.time_lapsed_ps}}</td>
        </tr>
    </table>
  </div>
</div>
