<button (click)="goCategoryReports()">Orders Report</button>
<button (click)="goReturnCustomers()">Return Customers Report</button>
<button (click)="goSubscribers()">Subcribers Report</button>
<button (click)="goDateRangeReport()">Orders - Date Range Report</button>

<br><br><br>

<div *ngIf="isUpdateable && !isWeeksUpdateable">
  <button (click)="updateUpToDate()">Capture Data from {{updateDateRange}}</button>
</div>

<div *ngIf="isWeeksUpdateable">
<button (click)="updatebyWeeks()">Update by {{weeks}} weeks</button>
</div>
